.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text{
  font-size: 40px;
  color: rgb(191, 255, 0);
  /* text-decoration: underline; */
  font-weight: bolder;
}
.text:hover{
  color: aqua;
  font-variant: small-caps;
}

